<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="userlayout(content)">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<title th:text="${title}">, welcome!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand me-2" th:href="@{/users/index}" href="#">
      <img th:src="@{../img/Logo.png}" height="100" alt="" loading="lazy" style="margin-top: -1px;" />
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample"
      aria-expanded="false" aria-label="Toggle navigation" >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/index}" href="#">APP</a>
        </li>
        <li class="nav-item"><i class="fas fa-bars m-3"></i></li>
      </ul>
      <div class="d-flex align-items-center">
      <i class="fa fa-sign-out"></i>
        <a  class="btn btn-link px-3 me-2" th:href="@{/logout}" href="#">
           Logout
        </a>
      </div>
    </div>
  </div>
</nav>
	<div class="sidebar">
	<span class="crossbtn">&times;</span>
	<a href="#" class="item"><i class="fa fa-home"></i> Home</a>
	<a href="#" class="item"><i class="fa fa-eye"></i> View</a>
	<a href="#" class="item"><i class="fa fa-plus"></i> Add</a>
	<a href="#" class="item"><i class="fa fa-user"></i> Profile</a>
	<a href="#" class="item"><i class="fa fa-cog"></i> Settings</a>
	<div class="divider"></div>
	</div>
	<div class="content">
	   <div th:replace="${content}"></div>
	</div>
	<div class="container-fluid">
		<footer class="main-footer">
			<strong>Copyright &copy; 2020-2021 <a href="#">MD Company.io</a>.
			</strong> All rights reserved.
			<div class="float-right d-none d-sm-inline-block">
				<b>Version</b> 1.0.0
			</div>
		</footer>
	</div>
	<!-- Optional JavaScript; choose one of the two! -->
	<script th:src="@{/jquery/jquery-3.6.0.js}" type="text/javascript"></script>
	<script th:src="@{/jquery/jquery-ui/jquery-ui.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/jquery/popper/popper.min.js}" type="text/javascript"></script>
	<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>